// app global css in SCSS form

body {
  .form-width {
    width: 25%;
  }
  .auth-form-width {
    width: 35%;
  }
}

.body--light {
  background: $grey-3;
  transition: background-color 0.3s ease-in;

  // for login page
  .custom-text-style {
    -webkit-text-stroke: 1px #244550;
    color: transparent;
  }

  // for header
  .q-layout__section--marginal {
    background: $grey-3;
  }

  // for q-uploader
  .q-uploader-container {
    border-color: #0000001f;
  }

  // for q-select
  .q-field__native {
    text-wrap: nowrap;

    overflow: hidden;
  }
}

.body--dark {
  background: #244550;
  transition: background-color 0.3s ease-in;

  // for login page
  .custom-text-style {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  // for header
  .q-layout__section--marginal {
    background: #244550;
  }

  // for q-uploader
  .q-uploader-container {
    border-color: #ffffff47;
  }

  // for q-select
  .q-field__native {
    text-wrap: nowrap;

    overflow: hidden;
  }
}
